* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #23252c;
  color: #fff;
  margin: 44px;
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 10px;
  background: #1a1b21;
  text-align: center;
  width: 320px;
  padding-bottom: 24px;
}

main {
  margin: 0 35px;
  text-align: left;
}
